body1
{
background-image:url(playstation_gamepad_crash_22102_1920x1080.jpg);
    height: 500px;
    width=500px;
    background-color:;
}
        
  colors = new Array("bisque","cyan","lightblue","burlywood","cadetblue","beige")

colorIndex = 0

function changeColor() {
 document.bgColor = colors[colorIndex]
 colorIndex = (colorIndex + 1) % colors.length
}

function startColorChange() {
 setInterval("changeColor()",5000)
}

window.onload = startColorChange;      
        
  